page-profile {
    .profile-picture{
        height: 40vw; 
        width: 40vw; 
        border: 2px solid rgb(118, 162, 175);
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    h3.username{
        font-size: 18px;
        text-align: center;
        margin-top: 0%;
    }

    .follow-button{
        font-size: 15px;
        font-display: bold;
        color: rgb(129, 212, 161);
        text-align: center;
    }

    .log{
        font-display: bold;
        font-size: 15px;
        color: darkred;
    }

    p.biography{
        font-size: 12px;
    }
}



