page-home {
    #app-section {
      #app-title {
        color: color($colors, 'primary');
        text-transform: uppercase;
      }
      ion-avatar {
        font-size: 15rem;
        image-resolution: 200px;
      }
    }
    #media-controls {
      button {
        ion-icon {
          font-size: 2.5rem;
        }
      }
    }
  }
