page-home {
    #app-section {
      #app-title {
        color: color($colors, 'primary');
        text-transform: uppercase;
      }
      ion-avatar {
        font-size: 15rem;
        image-resolution: 200px;
      }
    }
    #media-controls {
      button {
        ion-icon {
          font-size: 2.5rem;
        }
      }
    }
    .avatar-thumbnail{
        height: 8vw; 
        width: 8vw; 
        border: 2px solid rgb(118, 162, 175);
        border-radius: 50%;
        box-shadow: 0 0 5px gray;
    }
  }
