page-library {
  img.album-cover{
    height: 20vw; 
    width: 20vw; 
    border: 2px solid rgb(118, 162, 175);
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  h1.song-tittle{
    font-size: 13px;
  }
}
